@import '../variables';

.appBar{
  color: $color-appbar-text;
  background-color: $color-appbar-background;

  .link {
    color: $color-appbar-text;
  }

  .title {
    font-family: 'Armalite-Rifle';
    font-size: 42px;
    font-weight: normal;
  }
}
