@import "../variables";

.dropdown {
  background-color: $color-appbar-text;
  border-radius: 5px;

  .filled {
    padding-left: 20px;
  }

  .value::after {
    // This is the dropdown arrow
    border-top-color: $color-text-mid;
  }
}
