@import '../variables';

.appBar {
  color: $color-appbar-text;
  background-color: $color-subappbar-background;
  border-radius: 4px;
  padding: 0 20px;
  height: $height-footer;
  max-height: $height-footer;
}
