@import '../variables';

.field {
  .text {
    color: $color-appbar-text;
  }

  .on {
    background-color: $color-subappbar-background;

    .thumb {
      background-color: $color-highlight;
    }
  }

  .off {
    background-color: $color-subappbar-background;

    .thumb {
      background-color: darken($color-text-mid, 15);
    }
  }
}
