@import "../variables";

.tabs {
  .pointer {
    background-color: $color-highlight;
  }

  .tab {
    padding: 0;
  }

  .active {
    outline: none;
    color: $color-text-dark !important;
  }

  .label {
    color: $color-text-mid;
  }

  .navigationContainer {
    height: $height-tabs;
    max-height: $height-tabs;
  }
}
