@import "../variables";

.tabs {
  .pointer {
    background-color: $color-background-dark;
  }

  .tab {
    padding: 0;
  }
  .active {
    outline: none;
  }

  .navigationContainer {
    height: $height-tabs;
    max-height: $height-tabs;
  }
}
