@import "../variables";

.base {
  min-width: 20px;
  max-width: 30px;
  max-height: 30px;
  padding: 0 0 0 1px;
  vertical-align: top;
  font-size: 160%;
  line-height: 30px;
}

.button,
.raised {
  @extend .base;
  color: $color-background !important;
  background-color: $color-subappbar-background !important;
}

.primary {
  @extend .base;
  color: $color-appbar-background !important;
  background-color: $color-background-light !important;
}
