@import "../variables";

.base {
  min-width: 20px;
  max-width: 37px;
  max-height: 40px;
  padding: 0 10px;
}

.button,
.raised {
  @extend .base;
  color: $color-text-mid !important;
}

.primary {
  @extend .base;
  color: $color-text-dark !important;
  background-color: $color-shadow !important;
}
