{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "plugins": ["jest"],
  "globals": {
    "__DEV__": true,
    "__TEST__": true,
    "__API__": true,
    "__BETA_TESTERS__": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.dev.config.babel.js"
      }
    }
  },
  "rules": {
    "function-paren-newline": ["error", "multiline"],
    "import/extensions": [0],
    "import/no-duplicates": [0],
    "jsx-a11y/click-events-have-key-events": [0],
    "jsx-a11y/href-no-hash": [0],
    "jsx-a11y/no-noninteractive-element-to-interactive-role": [0],
    "max-len": [
      "error",
      {
        "code": 120,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "no-confusing-arrow": [0],
    "no-nested-ternary": [0],
    "object-curly-newline": [
      "error",
      {
        "ObjectExpression": {
          "consistent": true
        },
        "ObjectPattern": {
          "multiline": true
        }
      }
    ],
    "react/forbid-prop-types": [0],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/no-array-index-key": [0],
    "semi": [2, "never"]
  }
}
