@import url('https://fonts.googleapis.com/css?family=Lekton|Reem+Kufi');

@import 'variables';

:global {
  body {
    margin: 0;
    padding: 0;
    background: #d5d5d5;
    font-family: 'Lekton', sans-serif;

    a {
      text-decoration: none;
    }

    *, *:before, *:after {
      box-sizing: border-box;
      color: black;
    }
  }

}

.app {
  height: 100%;
  width: 100%;
}
