@import url('https://fonts.googleapis.com/css?family=Lekton|Reem+Kufi');

@import 'variables';

:global {
  body {
    margin: 0;
    padding: 0;
    background: $color-background;
    font-family: 'Lekton', sans-serif;

    a {
      color: $color-text-dark;
      text-decoration: none;
    }
  }

}

.app {
  height: 100%;
  width: 100%;
}
