@import 'variables';

.infoPanel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $color-appbar-background;
  color: $color-appbar-text;
  font-size: 15px;
  font-weight: 500;

  position: fixed;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;

  a {
    text-decoration: underline;
    color: $color-appbar-text;
  }

  .versions {
    padding: 10px;
  }

  .version {
    padding-left: 25px;
  }

  .copyright {
    @extend .versions;
  }

  .wrongVersion {
    @extend .version;
  }
}
