@import "variables";

.infoPanel {
  float: right;
  border: 1px solid $color-border;
  background-color: $color-background-light;
  border-radius: 5px;
  font-size: 12px;
  width: 220px;
  padding: 10px 10px 5px;
  margin: 0 40px 20px;

  h1 {
    font-size: 16px;
    margin: 0 0 5px;
  }

  a {
    text-decoration: underline;
  }

  .version {
    padding-right: 25px;
  }

  .copyright {
    padding: 7px 0 0;
    font-size: 10px;
    text-align: right;
  }
}
