@import 'variables';
@import 'mixins';

.mappingSelector {
  .mappingCont {
    & > div {
      max-width: 35px;
    }
    max-height: 130px;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    margin-right: 30px;
    margin-bottom: 15px;
    background-color: $color-background;
    border-radius: 2px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);

    h1 {
      text-transform: uppercase;
      font-size: 21px;
      @include rotate(90deg);
      margin: 30px 0 0;
      white-space: nowrap;
    }
  }

  .mapping {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    position: relative;
    cursor: pointer;
    margin-right: 20px;

    min-width: 110px;
    max-width: 110px;

    p {
      color: $color-text-dimmer;
    }

    svg:first-of-type {
      position: relative;
      left: 3px;
      max-width: 60px;
      max-height: 80px;
    }

    svg:nth-of-type(2) {
      max-width: 35px;
      max-height: 40px;
      position: absolute;
      left: 43px;
      top: 15px;
    }
  }

  .selected {
    p {
      font-weight: bold;
      color: $color-text-dark;
    }

    svg:first-of-type {
      -webkit-filter: drop-shadow(0 0 14px $color-highlight);
      filter: drop-shadow(0 0 5px $color-highlight);
    }
  }
}
