@import "variables";
@import "node_modules/animate-sass/animate";

.devicesContainer {
  display: flex;
  flex-flow: row nowrap;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.deviceContainer {
  h2 {
    @extend .animated;
    @extend .slideInDown;
    text-align: center;
    background-color: #bbb;
    margin: 0 0 10px;
    padding: 5px 0;
  }
  list-style: none;
  border: 1px solid black;
  width: 400px;
  height: 150px;
}

.device {
  @extend .animated;
  @extend .fadeIn;
  list-style: none;
}
