@import "variables";
@import "_dialogs";

.midiSecurity {
  h1 {
    text-align: center;
  }
  div {
    @extend .iconParagraph;
  }
}

.noStompblockFound {
  @extend .midiSecurity;
  ul {
    margin-top: 0;
  }
  li {
    padding-top: 10px;
    font-size: 14px;
  }
  h2 {
    font-size: 16px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  div {
    @extend .warningHeader;
  }
}

.versionNotSupported {
  @extend .midiSecurity;
  a {
    color: $color-facebook-blue;
  }
  p {
    margin-bottom: 10px;
  }
  .version {
    text-align: center;
    border: 1px solid $color-text-alert;
    padding: 10px;
    border-radius: 10px;
    color: $color-text-dark;
    background-color: lighten($color-text-alert, 50);
    span {
      padding-right: 20px;
    }
  }
}
