@import "variables";
@import "node_modules/animate-sass/animate";

.midiSecurity {
  @extend .animated;
  @extend .fadeIn;
  @extend .slideInDown;
  @extend .zoomInDown;

  font-size: 22px;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  h1 {
    text-align: center;
  }
  p {
    text-align: justify;
  }
}

.noStompblockFound {
  @extend .midiSecurity;
  h1 {
    color: $color-text-alert;
  }
  li {
    padding-bottom: 10px;
    text-align: justify;
  }
}

.versionNotSupported {
  @extend .midiSecurity;
  a {
    color: $color-facebook-blue;
  }
  .version {
    text-align: center;
    border: 1px solid $color-text-alert;
    padding: 10px;
    border-radius: 10px;
    background-color: lighten($color-text-alert, 80);
    span {
      padding-right: 20px;
    }
  }
}
