@import "variables";
@import "mixins";

$led-size: 11px;
$red-base: #f00;
$yellow-base: #ff0;

.midiActivity {
  display: flex;
  flex-flow: row nowrap;
  margin: 10px 8px;
  padding: 4px 0 4px 10px;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 0;

  color: $color-text-dark;
  text-transform: uppercase;

  border: 2px $color-subappbar-background inset;
  border-radius: 6px;

  .ledRed {
    @include led($led-size, $red-base);
  }

  .ledRedBlink {
    @include led-on($led-size, $red-base);
  }

  .ledYellow {
    @include led($led-size, $yellow-base);
  }

  .ledYellowBlink {
    @include led-on($led-size, $yellow-base);
  }
}
