@import 'variables';

.polyLocksCont {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .polylocks {
    padding: 10px 30px 30px 15px;
    overflow: auto;
    height: 100vh;
    margin-bottom: $height-footer + $height-tips + $height-header + $height-tabs -
      25;
  }

  section {
    display: flex;

    .bank {
      width: 50%;
      min-width: 312px;

      section {
        display: flex;
        flex-flow: column nowrap;
        padding-top: 10px;
        padding-left: 15px;
      }

      .newItemContainer {
        height: 45px;
        margin-top: 8px;
        padding: 0 20px;
      }
    }
  }
}
