@import 'variables';

.userInfo {
  cursor: pointer;
  outline: none;
  .layout {
    display: none;
    flex-flow: row nowrap;

    section {
      display: flex;
      flex-flow: column nowrap;
      align-self: center;
      color: $color-text-dimmer;
      outline: none;
      div {
        font-size: 13px;
        text-decoration: underline;
      }
      .name {
        padding: 0 10px 0 0;
        font-size: 15px;
      }
    }
  }

  @media screen and (min-width: 525px) {
    .layout {
      display: flex;
    }
  }
}
