@import 'variables';

.registrationDialog {
  max-width: 500px;

  form {
    margin: 20px 0 30px;
    border: 2px groove lighten($color-text-mid, 50);
    border-radius: 5px;
    padding: 15px;
    background-color: $color-background-light;
  }

  .nameFields {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .gravatarNotice {
    display: flex;
    max-width: 330px;

    svg {
      width: 36px;
      height: 36px;
      margin-right: 7px;
    }

    a {
      color: $color-background;
    }
  }
}

.userInfo {
  cursor: pointer;
  outline: none;
  .layout {
    display: flex;
    flex-flow: row nowrap;

    section {
      display: flex;
      flex-flow: column nowrap;
      align-self: center;
      color: $color-text-dimmer;
      div {
        font-size: 13px;
        text-decoration: underline;
      }
      .name {
        padding: 0 10px 0 0;
        font-size: 15px;
      }
    }
  }
}
