$color-appbar-background: black;
$color-appbar-text: white;

$color-background: white;
$color-background-light: #eee;
$color-background-dark: rgb(63, 81, 181);

$color-border: rgb(63, 81, 181);

$color-text-alert: #aa0000;

$color-text-dark: black;
$color-text-dimmer: #888;

$color-facebook-blue: #3B5998;
$color-twitter-blue: #55acee;

$use-all: true;
$use-fadeOut: true;
