$color-background: #d5d5d5;
$color-background-light: #eee;
$color-background-dark: #999;

$color-border: #888;

$color-text-alert: #aa0000;

$color-text-dark: #000;
$color-text-dimmer: #888;

$color-facebook-blue: #3B5998;
$color-twitter-blue: #55acee;

$use-all: true;
$use-fadeOut: true;
