@import 'variables';
@import 'mixins';

.listContainer {
  padding: 0;
  outline: none;
  display: flex;
  flex-direction: column;
  height: 100vh;

  canvas {
    -webkit-filter: drop-shadow(2px 2px 3px $color-border);
    filter: drop-shadow(2px 2px 3px $color-border);
  }

  .tips {
    color: $color-text-dimmer;
    margin: 0 30px 0 14px;
    height: $height-tips;
    max-height: $height-tips;
    border: 1px $color-subappbar-background inset;
    border-radius: 6px;
    flex-shrink: 0;

    ul {
      list-style-type: none;
      font-size: 12px;
      font-weight: bold;
      padding: 3px 10px;
      margin: 0;

      li {
        display: inline;
        padding: 0 10px;
        border-right: 1px solid $color-text-mid;
      }

      li:last-child {
        border-right: none;
      }
    }
  }

  .list {
    padding: 14px;
    overflow: auto;
    height: 100vh;
    margin-bottom: $height-footer + $height-tips + $height-header + $height-tabs -
      25;

    @include scroll-shadow-indicator;
  }

  ul.mediumView,
  ul.wideView {
    width: 100%;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;

    *:focus {
      outline: none;
    }

    section {
      border: 1px inset $color-subappbar-background;
      width: 175px;
      height: 100px;
      font-size: 16px;
      margin: 0 10px 10px 0;
      user-select: none;
      box-sizing: content-box;
      border-radius: 5px;

      .header {
        color: $color-appbar-text;
        border: 1px outset $color-subappbar-background;
        background-color: #444;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 1px 5px 0 8px;
        border-radius: 5px;
        cursor: pointer;

        div:first-child {
          font-size: 24px;
        }

        div:nth-child(2) {
          font-size: 90%;
          flex-grow: 0;
          color: $color-text-mid;
          text-shadow: 0px 1px 1px $color-background;
        }
        svg {
          fill: $color-appbar-text;
          width: 20px;
          height: 20px;
          flex-grow: 0;
          margin: 2px 0 0 5px;
        }
      }

      .noteName {
        padding: 4px;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .trimContainer {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
        padding: 0 4px;

        canvas {
          cursor: pointer;
          margin-left: 5px;
        }

        div {
          height: 50px;
        }

        div:nth-child(2) {
          // This is the knob 'value'
          padding-top: 10px;
          font-size: 18px;
        }

        .buttons {
          display: flex;
          flex-direction: column;

          button {
            cursor: pointer;
          }
        }
      }
    }

    section.selected {
      @include outerGlow($color-focus, 3px);
    }
  }

  ul.mediumView {
    width: 700px;
  }
  ul.wideView {
    width: 100%;
  }

  ul.listView {
    *:focus {
      outline: none;
    }

    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    padding: 0;
    margin-top: 0;

    section {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      max-width: 570px;
      padding-left: 4px;

      .header {
        color: $color-appbar-text;
        border: 1px outset $color-subappbar-background;
        background-color: #444;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 1px 5px 0 8px;
        border-radius: 5px;
        width: 150px;
        cursor: pointer;

        div:first-child {
          font-size: 24px;
        }

        div:nth-child(2) {
          font-size: 90%;
          flex-grow: 0;
          color: $color-text-mid;
          text-shadow: 0px 1px 1px $color-background;
        }
        svg {
          fill: $color-appbar-text;
          width: 20px;
          height: 20px;
          flex-grow: 0;
          margin: 2px 0 0 5px;
        }
      }

      .noteName {
        width: 200px;
        padding-left: 12px;
      }

      .trimContainer {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        width: 180px;
        justify-content: space-between;
        font-size: 18px;

        .buttons {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          button {
            margin-right: 5px;
          }
        }
      }
    }

    section.selected {
      @include outerGlow($color-focus, 3px);
      border-radius: 10px;
    }
  }
}
